.dot {
  $primary: #15964e;
  $secondary: #dddddd;
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid;
  border-color: $secondary;

  &.selected {
    background-color: $primary;
    border-color: $primary;
  }

  &.sold {
    background-color: $secondary;
    border-color: $secondary;
  }
}
